@import '../../pages/_mixin';
.detail {
  position: relative;
  overflow: hidden;
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000, $alpha: .3);
    z-index: 2;
    content: "";
  }
}

.detail-blur {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: blur(40px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.detail-pic {
  margin-right: 20px;
  width: 220px;
  border: 3px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
  }
}

.detail-con {
  position: relative;
  z-index: 10;
  padding: 30px 0;
  color: #fff;
  display: flex;
  a {
    color: #fff;
  }
}

.detial-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-flow: wrap;
  h1 {
    font-size: 24px;
    display: inline-block;
  }
  span {
    margin-left: 20px;
    display: block;
    a {
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      height: 20px;
      padding: 0 4px;
      line-height: 20px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 3px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.detail-info {
  width: 960px;
  p {
    margin-bottom: 10px;
    max-width: 760px;
    @include clamp(1);
  }
}

.detail-info__count {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  li {
    border-right: 1px solid rgba($color: #fff, $alpha: .7);
    padding-right: 20px;
    &:last-child {
      border-right: none;
    }
    span {
      display: block;
    }
  }
}

.detail-tool {
  position: absolute;
  left: 240px;
  bottom: 30px;
  display: flex;
}

.detail-tool__share {
  background-color: #fff;
  padding: 5px 3px;
  height: 40px;
  border-radius: 20px;
  margin-left: 15px;
}

.detail-tool__on {
  width: 90px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px;
  color: #e8f1ff;
  font-size: 16px;
  background-color: #0084FF;
  border: 1px solid #0084FF;
  cursor: pointer;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
  &.share {
    display: none;
  }
  &:hover {
    border-color: hsl(208.94117647058823, 100%, 45%);
    background-color: hsl(208.94117647058823, 100%, 45%);
  }
  i {
    font-size: 16px;
    position: relative;
    top: -2px;
    margin-right: 7px;
  }
  &.active {
    width: 100px;
    background-color: #e8f1ff;
    border: 1px solid #e8f1ff;
    color: #0084FF;
  }
}

.detail-score {
  position: absolute;
  right: 0;
  top: 50%;
  width: 200px;
  padding: 20px 10px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, .3);
  color: #fff;
  border-radius: 10px;
}

.detail-nav {
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
  li {
    padding-right: 30px;
    font-size: 16px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    position: relative;
    a {
      padding: 14px 0;
      display: inline-block;
      position: relative;
      width: 100%;
      bottom: -1px;
      color: #233;
    }
    &.active,
    &:hover {
      margin-bottom: -1px;
      font-weight: bold;
      a {
        border-bottom: 2px solid #0084FF;
      }
    }
    div {
      position: absolute;
      right: -70px;
      top: -10px;
      background-color: #0084FF;
      width: 85px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #fff;
      border-radius: 4px;
      font-size: 13px;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        right: 100%;
        bottom: 0px;
        width: 10px;
        height: 10px;
        border-width: 0;
        border-style: solid;
        border-color: transparent;
        border-top-width: 7px;
        border-top-color: currentColor;
        border-radius: 20px 0 0 0;
        color: #0088ff;
      }
    }
  }
}

.copyright {
  padding: 20px 0;
  color: #f00;
  font-size: 18px;
  text-align: center;
}

.playlist {
  padding-bottom: 20px;
}

.title {
  h2 {
    font-size: 16px;
  }
}

.ep {
  margin-top: 10px;
}

.detail-bottom {
  :global {
    .box {
      .title {
        margin-top: 10px;
        padding-bottom: 10px;
      }
      p {
        margin-top: 10px;
        color: #8590A6;
      }
    }
  }
}

.detail-content {
  line-height: 2;
  color: #666;
  p {
    margin-top: 0;
  }
}

@media (min-width: 0) and (max-width: 1200px) {
  .detail-pic {
    width: 30%;
    margin-right: 10px;
    border: none;
  }
  .detail-info {
    width: 65%;
  }
  .detail-con {
    padding: 15px 10px;
    p {
      &:nth-child(4) {
        span {
          &:nth-child(1) {
            display: none;
          }
        }
      }
      &:nth-child(2),
      &:nth-child(6),
      &.detail-update {
        display: none;
      }
    }
  }
  .detial-title {
    margin-bottom: 15px;
    h1 {
      @include clamp(1);
      font-size: 18px;
      width: 100%;
    }
    span {
      margin-left: 0;
      margin-top: 10px;
      @include clamp(1);
    }
  }
  .detail-info__count,
  .detail-score,
  .detail-tool__share {
    display: none;
  }
  .detail-tool {
    left: calc(30% + 14px);
    bottom: 15px;
  }
  .detail-tool__on {
    width: 70px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    margin-right: 10px;
    &.share {
      display: inline-block;
    }
  }
  .detail-nav {
    li {
      padding-right: 20px;
      font-size: 14px;
      a {
        padding: 10px 0;
      }
      &.active {
        a {
          border-bottom-width: 1px;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 413px) {
  .detial-title {
    margin-bottom: 10px;
  }
  .detail-info {
    p {
      margin-bottom: 5px;
    }
  }
}