@mixin clamp($num: 2){
  overflow:hidden;/*超出隐藏*/
  text-overflow:ellipsis;/*文本溢出时显示省略标记*/
  display:-webkit-box;/*设置弹性盒模型*/
  -webkit-line-clamp: $num;/*文本占的行数,如果要设置2行加...则设置为2*/
  -webkit-box-orient:vertical;/*子代元素垂直显示*/
}