.swiper {
  position: relative;
  overflow: hidden;
  height: 100%;

  &:hover {
    :global {

      .swiper-prev,
      .swiper-next {
        display: block;
      }
    }
  }

  :global {
    .swipe {
      overflow: hidden;
      visibility: hidden;
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      display: block;
      height: 100%;
      text-align: center;
    }

    .swipe-wrap {
      overflow: hidden;
      position: relative;
      height: 100%;
    }

    .swipe-wrap div {
      float: left;
      width: 100%;
      height: 100%;
      position: relative;
    }

    .swiper-prev,
    .swiper-next {
      display: none;
      position: absolute;
      width: 40px;
      height: 40px;
      background: rgba(0, 0, 0, .5);
      border-radius: 50%;
      text-align: center;
      line-height: 50px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      user-select: none;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #fff;
        opacity: .7;
      }

      &:hover {
        i {
          color: #0084FF;
        }
      }
    }

    .swiper-prev {
      left: 20px;
    }

    .swiper-next {
      right: 20px;
    }

    .swiper-page {
      position: absolute;
      right: 10px;
      bottom: 5px;
      z-index: 3;

      em {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        text-indent: -9999px;
        background: #fff;
        cursor: pointer;
        margin: 0 3px;

        &.cur {
          background: #0084FF;
        }
      }
    }
  }
}