@import '../../../pages/_mixin';
.d-yugao {
  margin-top: 15px;
  padding-bottom: 10px;
  li {
    border-bottom: 1px solid #f3f3f3;
    height: 30px;
    line-height: 30px;
    display: flex;
    &:hover {
      background-color: #f5f5f5;
      border-bottom-color: #ddd
    }
    &.top {
      background-color: #f5f5f5
    }
    span {
      color: #999;
      height: 30px;
      em {
        margin-left: 10px
      }
      &.time {
        width: 100px;
        padding-left: 10px
      }
      &.name {
        width: 560px;
        @include clamp(1);
        a {
          color: #37a;
          &:hover {
            color: #f60
          }
        }
      }
      &.clarity {
        width: 100px
      }
      &.play {
        width: 60px;
        text-align: center;
        em {
          display: inline-block;
          padding: 0 10px;
          height: 24px;
          line-height: 24px;
          border-radius: 3px;
          background-color: #4d9cec;
          color: #fff;
          margin-left: 0;
        }
        &:hover {
          em {
            background-color: #1c81e7;
            border-color: #1c81e7
          }
        }
      }
      &.source {
        width: 60px;
        padding-right: 10px;
        text-align: right;
        i {
          margin-top: 5px;
          margin-right: 0;
          float: none;
          display: inline-block
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 1200px) {
  .d-yugao {
    li {
      span {
        &.time,
        &.source {
          display: none;
        }
        &.clarity {
          width: 23%;
          @include clamp(1);
        }
        &.play {
          width: 15%;
        }
        &.name {
          width: 60%;
          padding-left: 2%;
        }
      }
    }
  }
}