header {
  display: flex;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  background-clip: content-box;
  height: 56px;
  line-height: 56px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  a {
    padding: 0 15px;
    display: inline-block;
    &:hover {
      color: #175199;
    }
    &.active {
      font-weight: bold;
    }
  }
  nav {
    flex-grow: 1;
    display: flex;
    &.show {
      display: inline-block;
    }
  }
}

.on-search,
.on-menu {
  display: none;
}

.header-logo {
  width: 150px;
  line-height: 56px;
  flex-basis: 150px;
  background: url(../../static/img/logo.png) no-repeat;
  background-size: 150px auto;
  background-position: 0 4px;
  margin-left: 10px;
  &.dddm {
    width: 130px;
    flex-basis: 130px;
    background-image: url(../../static/img/dd.svg);
    background-size: 120px auto;
    background-position: 0 10px;
  }
  /*5ddm*/
  &.ddm {
    width: 120px;
    flex-basis: 120px;
    background-image: url(../../static/img/5d.svg);
    background-size: 110px auto;
    background-position: 0 15px;
  }
}

.header-tool {
  span {
    padding: 0 15px;
  }
}

.header-search {
  width: 300px;
  flex-basis: 300px;
  background-color: #f6f6f6;
  margin-top: 10px;
  height: 36px;
  border-radius: 3px;
  display: flex;
  border: 1px solid #ebebeb;
  position: relative;
  input {
    width: 260px;
    margin-top: 6px;
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
    border: none;
    background: none;
    float: left;
  }
  button {
    width: 30px;
    height: 30px;
    margin-top: 3px;
    text-align: right;
    float: right;
    color: #8590A6;
  }
  &.show {
    display: inline-block;
  }
}

.header-nav {
  flex-grow: 1;
  line-height: 56px;
}

@media (min-width: 0px) and (max-width: 1200px) {
  header {
    height: 48px;
    line-height: 48px;
    nav {
      display: none;
      &.show {
        position: absolute;
        top: 47px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
        height: 30px;
        border-radius: 0 0 5px 5px;
        overflow-y: hidden;
        overflow-x: auto;
        z-index: 10;
      }
    }
  }
  .header-nav {
    line-height: 30px;
  }
  .header-search {
    display: none;
    &.show {
      position: absolute;
      top: 35px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    }
  }
  .header-tool {
    flex-grow: 1;
    a,
    span {
      padding: 0 10px;
    }
  }
  .header-logo {
    width: 120px;
    background-size: 120px auto;
    background-position: 0 5px;
  }
  .on-search,
  .on-menu {
    display: inline;
  }
}