@import '../../pages/__mixin.scss';

header {
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(114, 144, 179, 0.06);
  background-clip: content-box;
  height: 56px;
  line-height: 56px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;

  nav {
    flex-grow: 1;
    display: flex;
    margin-left: 30px;
    a {
      position: relative;
      margin-right: 30px;
      display: inline-block;
      font-size: 16px;

      &:hover,
      &.active {
        color: #18191a;
        font-weight: 600;
      }
      &.active {
        &::after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: #0088ff;
        }
      }
    }
    &.show {
      display: inline-block;
    }
  }
}

.on-search,
.on-home,
.on-menu {
  display: none;
}

.header-logo {
  width: 120px;
  line-height: 56px;
  flex-basis: 120px;
  background: url(../../static/img/5d.svg) no-repeat;
  background-size: 110px auto;
  background-position: 0 15px;
  margin-left: 10px;
  position: relative;

  &.kanfan {
    background: no-repeat;
    width: 90px;
    flex-basis: 90px;

    &::before {
      position: absolute;
      width: 90px;
      content: '看番';
      font-size: 30px;
      color: #0088ff;
      letter-spacing: 5px;
    }
  }
}

.header-tool {
  margin-right: 20px;
  span {
    padding: 0 15px;
  }
}

.header-search {
  width: 300px;
  flex-basis: 300px;
  background-color: #f6f6f6;
  margin-top: 10px;
  height: 36px;
  border-radius: 3px;
  display: flex;
  border: 1px solid #ebebeb;
  position: relative;

  input {
    width: 260px;
    margin-top: 6px;
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
    border: none;
    background: none;
    float: left;
  }

  button {
    width: 30px;
    height: 30px;
    margin-top: 1px;
    text-align: right;
    float: right;
    color: #8590a6;
  }

  &.show {
    display: inline-block;
  }
}

.header-nav {
  flex-grow: 1;
  line-height: 56px;
  white-space: nowrap;
}

@media (min-width: 0px) and (max-width: 1200px) {
  header {
    height: 48px;
    line-height: 48px;

    nav {
      display: none;

      &.show {
        position: absolute;
        top: 47px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
        height: 30px;
        border-radius: 0 0 5px 5px;
        overflow-y: hidden;
        overflow-x: auto;
        z-index: 10;
      }
    }
  }

  .header-nav {
    line-height: 30px;
  }

  .header-search {
    display: none;

    &.show {
      position: absolute;
      top: 35px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    }
  }

  .header-tool {
    flex-grow: 1;

    a,
    span {
      padding: 0 7px;
    }
  }

  .header-logo {
    width: 120px;
    background-size: 120px auto;
    background-position: 0 5px;
    flex-basis: 120px;
    line-height: 48px;

    &.dddm {
      width: 110px;
      background-size: 100px auto;
    }

    /*5ddm*/
    &.ddm {
      width: 110px;
      background-size: 100px auto;
      background-position: 0 11px;
    }
  }

  .on-search,
  .on-home,
  .on-menu {
    display: inline;
  }
}

@media (min-width: 0px) and (max-width: 399px) {
  header {
    height: 36px;
    line-height: 36px;

    nav {
      &.show {
        top: 35px;
      }
    }
  }

  .header-logo {
    width: 80px;
    background-size: 80px auto;
    background-position: 0 5px;
    flex-basis: 80px;
    line-height: 36px;

    &.dddm {
      width: 70px;
      background-size: 65px auto;
    }

    /*5ddm*/
    &.ddm {
      width: 70px;
      background-size: 65px auto;
      background-position: 0 11px;
    }
  }
}
