.d-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  li {
    position: relative;
    width: 190px;
    margin: 0 10px 25px;
    &:nth-child(6n) {
      margin-right: 0;
    }
    div {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 245px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 3px 14px 0 rgba(203, 193, 187, .40);
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow: auto;
      display: block;
      width: 100%;
    }
    p {
      margin-top: 6px;
      height: 16px;
      line-height: 16px;
      color: #999;
      overflow: hidden;
      &.today {
        color: #0084ff;
      }
    }
    h3 {
      margin: 15px 0;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      font-weight: blod;
      color: #333;
      white-space: normal;
      overflow: hidden;
      &:hover {
        color: #0084ff;
      }
    }
  }
}

.main-list {
  background-color: #f7f7f7;
}

@media (min-width: 0px) and (max-width: 1200px) {
  .d-item {
    padding-top: 15px;
    li {
      width: 32%;
      margin: 0 2% 15px 0;
      &:nth-child(3n) {
        margin-right: 0;
      }
      div {
        height: 170px;
      }
      h3 {
        margin: 10px 0;
      }
      p {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 399px) {
  .d-item {
    li {
      div {
        height: 135px;
      }
      h3 {
        font-size: 12px;
        margin: 5px 0;
      }
      p {
        font-size: 12px;
      }
    }
  }
}