@import '../../pages/_mixin';
.playlist {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.playlist-boreder {
  border-bottom: 1px solid #ebebeb;
  padding-top: 10px;
}

.playlist-ul {
  position: relative;
  max-height: 145px;
  display: flex;
  flex-flow: wrap;
  li {
    padding: 10px;
    width: 120px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    margin-right: 15px;
    background-color: #fff;
    &:nth-child(9n) {
      margin-right: 0;
    }
    &:hover,
    &.active {
      border-color: #0084FF !important;
      a {
        color: #0084FF;
      }
    }
    p {
      @include clamp(1);
    }
  }
}

.playlistbox {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  border-radius: 5px;
  padding: 10px 20px 20px;
  margin: 20px auto 0;
  width: 1240px;
}

.playlist-nav {
  position: relative;
  padding-bottom: 10px;
  li {
    width: 130px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    &.active {
      color: #0084FF;
    }
  }
}

.play-page {}

.moblie-list {
  display: none;
}

@media (min-width: 0px) and (max-width: 1200px) {
  .playlistbox {
    width: auto;
    margin: 10px 10px 0;
    padding: 10px;
    .play-page,
    .playlist {
      display: none;
    }
  }
  .moblie-list {
    display: block;
    .moblie-title {
      display: flex;
      h2 {
        font-weight: bold;
        font-size: 14px;
        flex-grow: 1;
      }
    }
    li {
      border: 1px solid #ebebeb;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      border-radius: 5px;
      margin-top: 10px;
    }
  }
  .playlist-ul {
    max-height: inherit;
  }
}