{
  "extends": ["standard", "eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "after": true,
    "it": true,
    "ArriveFooter": true,
    "__CLIENT__": true,
    "adsbygoogle": true,
    "importScripts": true,
    "returnCitySN": true
  },
  "plugins": ["react-hooks"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": 1,
    "no-console": "off",
    "no-debugger": "off",
    "no-unused-vars": 0,
    "react/no-render-return-value": "off",
    "standard/no-callback-literal": [0, ["cb", "callback"]],
    "react/display-name": [{ "ignoreTranspilerName": false }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
