.user {
  padding: 25px 25px 30px;
  h1 {
    margin-top: 10px;
    font-size: 24px;
    color: #0084FF;
    text-align: center;
  }
  >form {
    padding: 10px 15px 0;
    input {
      width: 100%;
      margin-top: 10px;
      padding: 0 15px;
      height: 40px;
      line-height: 40px;
      border: none;
      border-bottom: 1px solid #EBEBEB;
    }
    button,
    a {
      margin-top: 20px;
      width: 100%;
      height: 40px;
      background-color: #0084FF;
      font-size: 18px;
      color: #fff;
      border-radius: 20px;
    }
    a {
      display: inline-block;
      background-color: #888;
      color: #fff;
      text-align: center;
      line-height: 40px;
    }
  }
  .logo {
    line-height: 56px;
    height: 56px;
    flex-basis: 150px;
    font-size: 18px;
    text-align: center;
    color: #282828;
    background: url(../../static/img/logo.png) no-repeat;
    background-size: 150px auto;
    background-position: center 4px;
    margin-left: 10px;
    &.dddm {
      background-image: url(../../static/img/dd.svg);
    }
    /*5ddm*/
    &.ddm {
      background-image: url(../../static/img/5d.svg);
    }
  }
}

.validate {
  position: relative;
  img {
    position: absolute;
    right: 0;
    top: 10px;
    width: 100px;
  }
}

.user-reg {
  text-align: center;
  color: #999;
  a {
    color: #0084FF;
  }
}