.top {
  display: flex;
  :global {
    .right-box {
      flex: 1;
      margin-right: 10px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.toplist {
  li {
    display: flex;
    padding-top: 16px;
    &:last-child {
      padding-bottom: 0;
    }
    a {
      flex-grow: 1;
      @include clamp(1);
      margin-left: 10px;
    }
    span {
      color: #666;
      font-size: 12px;
    }
    .num {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      background-color: #ccd0d7;
      color: #fff;
      flex-basis: 20px;
      text-align: center;
      line-height: 20px;
      &.on {
        background-color: #f25d8e;
        color: #fff;
      }
    }
  }
}

@media (min-width: 0) and (max-width: 1200px) {
  .top {
    display: block;
  }
}
