@import '../../pages/_mixin';
.top {
  display: flex;
  :global {
    .box {
      flex: 1;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      h2 {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}

.toplist {
  margin-top: 10px;
  li {
    display: flex;
    padding-bottom: 20px;
    &:last-child {
      padding-bottom: 0;
    }
    a {
      flex-grow: 1;
      @include clamp(1);
      margin-left: 10px;
    }
    span {
      color: #666;
      font-size: 12px;
    }
    .num {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      background-color: #ccd0d7;
      color: #fff;
      flex-basis: 20px;
      text-align: center;
      line-height: 20px;
      &.on {
        background-color: #f25d8e;
        color: #fff;
      }
    }
  }
}

@media (min-width: 0) and (max-width: 1200px) {
  .top {
    display: block;
    :global {
      .box {
        margin-top: 10px;
        margin-right: 0;
      }
    }
  }
}