:global{
  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    background: #EE3769;
    width: 500px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap div {
    float:left;
    width:100%;
    position: relative;
  }
  
  .swipe-item {
    position: relative;
    margin-top: 140px;
    color: white;
    font-weight: bold;
  }
}
