:global{
  .swipe div b {
    display:block;
    font-weight:bold;
    color:#14ADE5;
    font-size:20px;
    text-align:center;
    margin:10px;
    padding:100px 10px;
    box-shadow: 0 1px #EBEBEB;
    background: #fff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #E5E5E5 #D3D3D3 #B9C1C6;
  }
  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap div {
    float:left;
    width:100%;
    position: relative;
  }  
}
