.eplist {
  li {
    margin-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 15px;
    h4 {
      font-size: 14px;
    }
    p {
      color: #8590A6;
      margin-top: 5px;
    }
  }
}