@import '../../pages/_mixin';

.article-body {
  h1 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
  }
}

.article-head {
  padding: 20px 20px 0;
}

.article-label {
  color: #999;
  margin-top: 10px;

  span {
    margin-right: 10px;
  }
}

.article-content {
  padding: 20px 20px 0;
  margin-bottom: 20px;
  line-height: 2;

  img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
  }

  p {
    padding-bottom: 20px;
  }
}

.article-context {
  padding: 0 20px 20px;
  line-height: 30px;

  p {
    @include clamp(1);
  }
}

.article-video {
  height: 517.5px;
  position: relative;
  margin-top: 20px;

  div {
    width: 100%;
    height: 100%;
  }

  a {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    text-shadow: 0 0 3px rgba($color: #000, $alpha: .5)
  }
}

.article-share {
  padding: 0 20px;
}

.article-slide {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
  background-color: rgba($color: #000, $alpha: .7);

  span {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: rgba($color: #000, $alpha: .9);
    border-radius: 50%;

    &:before,
    &:after {
      position: absolute;
      right: 10px;
      top: 50%;
      content: "";
      width: 20px;
      height: 2px;
      background: #FFF;
      transform: translateY(-50%);
    }

    &:before {
      transform: rotate(-45deg)
    }

    &:after {
      transform: rotate(45deg)
    }
  }

  :global {
    .swipe-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .swiper-page {
      width: 100%;
      left: 0;
      right: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  img {
    display: block;
    max-width: 90%;
    max-height: 90%;
  }
}

.play-full {
  position: fixed;
  left: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.newslist {
  padding: 0 20px;

  :global {
    .title {
      margin-bottom: 10px;

      h2 {
        flex-grow: 1;
      }
    }
  }
}

@media (min-width: 0) and (max-width: 1200px) {
  .article-body {
    background-color: #fff;

    h1 {
      font-size: 22px;
    }
  }

  .article-head {
    padding: 10px 10px 0;
  }

  .article-video {
    height: 240px;
    margin-top: 10px;

    >a {
      display: none;
    }
  }

  .article-content {
    padding: 10px 10px 0;
    margin-bottom: 0;
    font-size: 16px;

    p {
      padding-bottom: 10px;
    }
  }

  .article-context {
    padding: 0 10px 0;
  }

  .article-share {
    padding: 0 10px;
  }

  .newslist {
    padding: 0 10px;
  }

  .article-slide {
    background-color: #000;

    span {
      top: 5px;
      right: 5px;
    }

    :global {
      .swiper-page {
        em {
          width: 5px;
          height: 5px;
          margin: 0 2px;
        }
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}