@import '../../pages/_mixin';
.newlist {
  li {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    &:first-child {
      font-weight: bold;
      font-size: 16px;
    }
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
    .red {
      color: #f00;
    }
    span {
      display: inline-block;
      em {
        color: #f00;
        margin-left: 5px;
      }
      &:nth-child(1) {
        flex-grow: 1;
        @include clamp(1);
      }
      &:nth-child(2) {
        width: 100px;
        text-align: center;
      }
      &:nth-child(3) {
        width: 300px;
        text-align: center;
        a {
          margin: 0 5px;
        }
      }
      &:nth-child(4) {
        text-align: right;
        width: 150px;
      }
    }
  }
}

@media (min-width: 0) and (max-width: 1200px) {
  .newlist {
    li {
      span {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}