.comment {}

.comment-form {
  position: relative;
  margin-top: 10px;
  display: flex;
  textarea {
    width: 100%;
    height: 90px;
    line-height: 30px;
    border: 1px solid #e8f1ff;
    outline: none;
    padding: 5px 10px;
    box-shadow: 0 0 3px 3px #f6f6f6 inset;
  }
  button {
    position: absolute;
    right: 0;
    top: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background-color: #0084FF;
    color: #fff;
    transform: translateY(-50%);
    font-size: 18px;
  }
}

.comment-list {
  color: #646464;
  a {
    color: #0084FF;
  }
}

.comment-empty {
  padding: 20px 0;
  font-size: 16px;
}

.comment-list__list {
  >li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.commit-list__people {
  display: flex;
  .avatar {
    display: flex;
    align-items: center;
    img {
      display: block;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
  }
  .title {
    margin-right: 5px;
  }
  .time,
  .title {
    color: #8590A6;
    font-size: 12px;
  }
}

.commit-list__zan {
  flex-grow: 1;
  align-self: center;
  text-align: right;
}

.commit-list__content {
  padding-top: 10px;
}

.commit_sublist {
  background-color: #f6f6f6;
  padding: 10px;
  >li {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}