.detail {
  position: relative;
  background-color: #666;
  overflow: hidden;
}

.detail-blur {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: blur(30px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .7;
  z-index: 0;
}

.detail-info__con {
  position: relative;
  z-index: 1;
  padding: 30px 0;
  color: #fff;
  display: flex;
  a {
    color: #fff;
  }
  h1 {
    font-size: 24px;
    padding-bottom: 20px;
  }
}

.detail-info__pic {
  margin-right: 20px;
  width: 240px;
  border: 3px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
  }
}

.detail-info__info {
  width: 300px;
  width: 620px;
}

.detail-info__score {
  width: 300px;
}

.detail-love,
.detail-remind {
  width: 88px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  color: #282828;
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  background-color: #ffd100;
  border: 1px solid #ffd100;
  cursor: pointer;
  &:hover {
    background-color: #ffe366;
    border-color: #ffe366;
  }
  i {
    font-size: 18px;
    position: relative;
    top: -2px;
    margin-right: 7px;
  }
}

.detail-love {
  left: 260px;
}

.detail-remind {
  margin-left: 10px;
  left: 360px;
}

.detail-nav {
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 20px;
  li {
    padding: 0 30px;
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    a {
      padding: 20px 0;
      display: inline-block;
      position: relative;
      width: 100%;
      bottom: -1px;
      color: #999;
    }
    &.active,
    &:hover {
      margin-bottom: -1px;
      a {
        color: #282828;
        border-bottom: 1px solid #282822;
      }
    }
  }
}