.article-tool {
  display: flex;
}

.article-tool__tag {
  flex-grow: 1;
  max-width: 580px;

  a {
    display: inline-block;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    background-color: rgba(0, 132, 255, 0.1);
    color: $d-text-color-hover;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 12px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba(0, 132, 255, 0.15);
    }
  }
}

.article-tool__share {
  margin-left: 10px;
}

@media (min-width: 0) and (max-width: 1200px) {
  .article-tool {
    display: inline-block;
  }

  .article-tool__share {
    margin-top: 10px;
    margin-left: 0;
  }

  .article-tool__tag {
    a {
      margin-bottom: 5px;
    }
  }
}
