<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <%= htmlWebpackPlugin.options.headMeta %>
</head>
<body>
  <div class="container-fluid" id="app"><%= htmlWebpackPlugin.options.htmlDom %></div>
  <script>
    window.__initState__ = <%= htmlWebpackPlugin.options.reduxState %>
  </script>
</body>
</html>
