header {
  padding: 0 20px;
  display: flex;
  background-color: #ffd100;
  height: 56px;
  line-height: 56px;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  color: #282828;
  a {
    padding: 0 24px;
    display: inline-block;
    &:hover {
      background-color: #282828;
      color: #fff;
    }
    &.active {
      font-weight: bold;
    }
  }
  nav{
    flex-grow:1;
    display: flex;
  }
}

.header-logo {
  width: 100px;
  line-height: 56px;
  flex-basis: 100px;
  font-size: 24px;
  text-align: center;
  color: #282828;
  background: none;
}

.header-tool {
  width: 107px;
  flex-basis: 107px;
}

.header-search {
  width: 200px;
  flex-basis: 200px;
  display: none;
}

.header-nav {
  flex-grow:1;
  line-height: 56px;
}