header {
  display: flex;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  background-clip: content-box;
  height: 56px;
  line-height: 56px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  overflow: hidden;
  a {
    padding: 0 24px;
    display: inline-block;
    &:hover {
      background-color: #282828;
      color: #fff;
    }
    &.active {
      font-weight: bold;
    }
  }
  nav {
    flex-grow: 1;
    display: flex;
  }
}

.header-logo {
  width: 100px;
  line-height: 56px;
  flex-basis: 100px;
  font-size: 24px;
  text-align: center;
  color: #282828;
  background: none;
}

.header-tool {
  width: 135px;
  flex-basis: 135px;
  span {
    padding-right: 24px;
  }
}

.header-search {
  width: 300px;
  flex-basis: 300px;
  background-color: #f6f6f6;
  margin-top: 10px;
  height: 36px;
  border-radius: 3px;
  margin-right: 20px;
  overflow: hidden;
  display: flex;
  border: 1px solid #ebebeb;
  input {
    width: 260px;
    margin-top: 6px;
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
    border: none;
    background: none;
    float: left;
  }
  button {
    width: 30px;
    height: 30px;
    margin-top: 3px;
    text-align: right;
    float: right;
    color: #8590A6;
  }
}

.header-nav {
  flex-grow: 1;
  line-height: 56px;
}