@font-face {
  font-family: "Monospaced Number";
  src: local("Tahoma");
  unicode-range: U+30-39;
}

@font-face {
  font-family: "Chinese Quote";
  src: local("PingFang SC"), local("SimSun");
  unicode-range: U+2018, U+2019, U+201c, U+201d;
}

@font-face {
  font-family: 'iconfont';
  /* project id 447392 */
  src: url('//at.alicdn.com/t/font_447392_bgkpd5npuvh.eot');
  src: url('//at.alicdn.com/t/font_447392_bgkpd5npuvh.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_447392_bgkpd5npuvh.woff') format('woff'), url('//at.alicdn.com/t/font_447392_bgkpd5npuvh.ttf') format('truetype'), url('//at.alicdn.com/t/font_447392_bgkpd5npuvh.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  * {
    box-sizing: border-box;
  }
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  form,
  fieldset,
  legend,
  input,
  textarea,
  p,
  blockquote,
  img,
  hr {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
  fieldset,
  img {
    border: 0;
  }
  address,
  caption,
  cite,
  code,
  dfn,
  em,
  th,
  td,
  var,
  i {
    font-style: normal;
    font-weight: normal;
  }
  ol,
  ul,
  li {
    list-style: none;
  }
  caption,
  th {
    text-align: left;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: normal;
  }
  q:before,
  q:after {
    content: '';
  }
  abbr,
  acronym {
    border: 0;
    font-variant: normal;
  }
  sup {
    vertical-align: text-top;
  }
  sub {
    vertical-align: text-bottom;
  }
  input,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  input,
  textarea,
  select {
    *font-size: 100%;
  }
  legend {
    color: #000;
  }
  button {
    background: none;
    border: none;
  }
  ins {
    text-decoration: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
  }
  blockquote,
  q {
    quotes: "" "";
  }
  hr {
    color: #f5f2ee;
    background-color: #f5f2ee;
    border: none;
    height: 1px;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  html,
  body {
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: none;
  }
  body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  button,
  a {
    cursor: pointer;
  }
  input,
  button {
    outline: none;
  }
  p {
    word-wrap: break-word;
  }
  a {
    color: #233;
    text-decoration: none;
    transition: all .15s ease-out;
  }
  a:hover {
    color: #00a1d6;
    text-decoration: none;
  }
  i {
    overflow: hidden;
  }
  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .f14 {
    font-size: 14px;
  }
  .f16 {
    font-size: 16px;
  }
  .f18 {
    font-size: 18px;
  }
  .cp {
    cursor: pointer;
  }
  .b {
    font-weight: 700;
  }
  .w {
    white-space: nowrap;
  }
  .tal {
    text-align: left;
  }
  .tac {
    text-align: center;
  }
  .tar {
    text-align: right;
  }
  .fr {
    float: right;
  }
  .db img {
    display: block;
  }
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .pr {
    position: relative;
  }
  .pa {
    position: absolute;
  }
  .oh {
    overflow: hidden;
  }
  .hide {
    display: none;
  }
  ::-webkit-input-placeholder {
    color: #666;
  }
  ::-moz-placeholder {
    color: #666;
  }
  :-moz-placeholder {
    color: #666;
  }
  ::-ms-input-placeholder {
    color: #666;
  }
  input:-moz-placeholder {
    color: #666;
  }
  textarea:-moz-placeholder {
    color: #666;
  }
  .wp {
    width: 1200px;
    margin: auto;
  }
  .mt20 {
    margin-top: 20px;
  }
  .pt15 {
    padding-top: 15px;
  }
  .pt20 {
    padding-top: 20px;
  }
  .pb20 {
    padding-bottom: 20px;
  }
  body {
    padding-top: 55px;
    background-color: #f6f6f6;
  }
  html {
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 1em;
      background-color: rgba(50, 50, 50, 0.3)
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(100, 100, 100, 0.8)
    }
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(100, 100, 100, 0.4)
    }
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
  }
  .title {
    display: flex;
    h2 {
      font-size: 24px;
      color: #444;
      margin-right: 30px;
    }
    a {
      margin-left: 30px;
      margin-top: 1px;
      height: 30px;
      line-height: 28px;
      border-radius: 5px;
      text-align: center;
      padding-left: 15px;
      color: #0084ff;
      i {
        position: relative;
        top: -1px;
        font-size: 14px;
        margin-left: 5px;
      }
    }
    .title-icon {
      display: inline-block;
      position: relative;
      top: -5px;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      fill: currentColor;
      overflow: hidden;
      background: url(../static/img/acg.svg) no-repeat;
      background-size: 35px 40px;
      &.cn {
        background: url(../static/img/china.svg) no-repeat;
        background-size: 35px 40px;
      }
      &.news {
        background: url(../static/img/news.svg) no-repeat;
        background-size: 35px 40px;
        top: -2px;
      }
    }
  }
  .warp-bg {
    background-color: #fff;
  }
  .playicon {
    float: left;
    margin-top: 4px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background: url(../static/img/sprite_source.png) -240px -20px no-repeat;
    background-image: -webkit-image-set(url(../static/img/sprite_source@2x.png) 2x);
    &.other,
    &.pv,
    &.otherB,
    &.otherC,
    &.otherD,
    &.nodel,
    &.mad,
    &.cm,
    &.ed,
    &.bgm,
    &.op {
      background-position: -240px -20px
    }
    &.tudou {
      background-position: -40px 0
    }
    &.youku {
      background-position: -20px 0
    }
    &.iqiyi {
      background-position: -60px 0
    }
    &.sohu {
      background-position: -20px -20px
    }
    &.letvyun,
    &.letv {
      background-position: -140px 0
    }
    &.qq {
      background-position: 0 0
    }
    &.mgtv {
      background-position: -160px -20px
    }
    &.pptv {
      background-position: -80px 0
    }
    &.bilibili {
      background-position: -180px -20px
    }
    &.acfun {
      background-position: -200px -20px
    }
  }
}