@import '../../../pages/_mixin';
.playlist {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.playlist-boreder {
  border-bottom: 1px solid #ebebeb;
  padding-top: 10px;
}

.playlist-ul {
  position: relative;
  max-height: 145px;
  li {
    padding: 10px;
    width: 120px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    display: inline-block;
    margin-right: 15px;
    background-color: #fff;
    &:nth-child(9n) {
      margin-right: 0;
    }
    &:hover,
    &.active {
      border-color: #0084FF !important;
      a {
        color: #0084FF;
      }
    }
    p {
      @include clamp(1);
    }
  }
}

.playlistbox {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  border-radius: 5px;
  padding: 10px 20px 20px;
  margin: 20px auto 0;
  width: 1240px;
}

.playlist-nav {
  position: relative;
  padding-bottom: 10px;
  li {
    width: 130px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    &.active {
      color: #0084FF;
    }
  }
}