.wp {
  margin: 0 auto;
  width: 1240px;
}

.playlist {
  display: flex;
  margin-left: 20px;
  margin-top: 6px;
  li {
    line-height: 28px;
    color: #ccc;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.player {
  background-color: #222;
}

.player-box {
  height: 697.5px;
  width: 100%;
  background-color: #000;
  color: #333;
  position: relative;
  div {
    width: 100%;
    height: 100%;
  }
  a {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    text-shadow: 0 0 3px rgba($color: #000, $alpha: .5)
  }
}

.play-full {
  position: fixed;
  left: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.player-info {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  display: flex;
  color: #ccc;
  h1,
  h4 {
    display: inline;
  }
  h1 {
    font-weight: bold;
    a {
      color: #ccc
    }
    &:hover {
      a {
        color: #f60;
      }
    }
  }
  h4 {
    color: #ccc;
  }
}

.title {
  h2 {
    font-size: 16px;
  }
}

.left,
.box {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  border-radius: 5px;
  padding: 10px 20px;
}

.left {
  width: 920px;
}

.right {
  width: 300px;
}