@import '../../pages/_mixin';
.player {
  background-color: #222;
}

.player-box {
  height: 697.5px;
  width: 100%;
  background-color: #000;
  color: #333;
  position: relative;
  div {
    width: 100%;
    height: 100%;
  }
  a {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    text-shadow: 0 0 3px rgba($color: #000, $alpha: .5)
  }
}

.player-info {
  position: relative;
  height: 40px;
  line-height: 40px;
  display: flex;
  color: #ccc;
}

.player-title {
  @include clamp(1);
  margin-right: 10px;
  h1,
  h4 {
    display: inline;
  }
  h1 {
    font-weight: bold;
    a {
      color: #ccc
    }
    &:hover {
      a {
        color: #f60;
      }
    }
  }
  h4 {
    color: #ccc;
  }
}

.playlist {
  display: flex;
  margin-top: 6px;
  flex-grow: 1;
  li {
    line-height: 28px;
    color: #ccc;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.title {
  h2 {
    font-size: 16px;
  }
}

.play-tool {
  display: flex;
  height: 34px;
  line-height: 24px;
  padding-bottom: 10px;
}

.digg {
  color: #ccc;
  margin-right: 10px;
  cursor: pointer;
  i {
    margin-right: 5px;
  }
}

.play-next {
  a {
    color: #ccc;
    margin-left: 10px;
  }
}

.mcid {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
  a {
    margin: 0 5px;
    border: 2px solid rgba($color: #fff, $alpha: .3);
    display: inline-block;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
    padding: 0 10px;
    color: #ccc;
    border-radius: 12px;
  }
}

.m-play-name {
  display: none;
}

.play-full {
  position: fixed;
  left: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  z-index: 9999;
}

.player-share {
  margin-top: -3px;
}

@media (min-width: 0px) and (max-width: 1200px) {
  .player {
    :global {
      .pt20 {
        padding-top: 0;
      }
      .wp {
        padding: 0;
      }
    }
  }
  .player-box {
    height: 233px;
  }
  .player-share,
  .playlist,
  .play-next {
    display: none;
  }
  .player-info,
  .play-tool {
    padding: 0 10px;
  }
  .player-info {
    height: 30px;
    line-height: 30px;
  }
  .play-tool {
    align-items: center;
  }
  .m-play-name {
    display: inline-block;
    white-space: nowrap;
    i {
      position: relative;
      top: 1px;
    }
  }
  .player-title {
    flex-grow: 1;
  }
  .zhaimoe {
    width: calc(100% - 20px);
    margin: 10px;
    overflow-x: auto;
  }
}

@media (min-width: 0px) and (max-width: 399px) {
  .player-box {
    height: 203px;
  }
}