@import '../../pages/_mixin';
.player {
  background-color: #222;
}

.player-box {
  height: 697.5px;
  width: 100%;
  background-color: #000;
  color: #333;
  position: relative;
  div {
    width: 100%;
    height: 100%;
  }
  a {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    text-shadow: 0 0 3px rgba($color: #000, $alpha: .5)
  }
}

.play-full {
  position: fixed;
  left: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.player-info {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  display: flex;
  color: #ccc;
}

.player-title {
  @include clamp(1);
  flex-grow: 1;
  margin-left: 10px;
  h1,
  h4 {
    display: inline;
  }
  h1 {
    font-weight: bold;
    a {
      color: #ccc
    }
    &:hover {
      a {
        color: #f60;
      }
    }
  }
  h4 {
    color: #ccc;
  }
}

.playlist {
  display: flex;
  margin-top: 6px;
  flex-grow: 1;
  li {
    line-height: 28px;
    color: #ccc;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.title {
  h2 {
    font-size: 16px;
  }
}

.mcid {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    margin: 0 5px;
    border: 2px solid #999;
    display: inline-block;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
    padding: 0 10px;
    color: #ccc;
    border-radius: 12px;
  }
}

.m-play-name {
  display: none;
}

@media (min-width: 0px) and (max-width: 1200px) {
  .player {
    :global {
      .pt20 {
        padding-top: 0;
      }
      .wp {
        padding: 0;
      }
    }
  }
  .player-box {
    height: 240px;
  }
  .player-share,
  .playlist {
    display: none;
  }
  .player-info {
    padding: 0 10px;
  }
  .m-play-name {
    display: inline-block;
    i {
      position: relative;
      top: 5px;
    }
  }
}