.top{
  h2{font-size: 24px;height: 38px;line-height: 40px;
    i {
      font-size: 24px;
      color: #f60;
      margin-right: 10px;
    }
  }
  ul {
    margin-top: 25px;
    li {
      padding-bottom: 20px;
      display: flex;
      a {
        flex-grow: 1;
        margin-left: 10px;
      }
    }
  }
}

.top-li__score {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 10px;
  text-align: right;
  background-color: #ffd100;
  color: #282828;
}

.top-li__num {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ddd;
  color: #282828;
  flex-basis: 20px;
  text-align: center;
  line-height: 20px;
  &.on{
    background-color: #f60;
    color: #fff;
  }
}
