@import '../../pages/_mixin';
.top {
  h2 {
    margin-top: 3px;
    font-size: 18px;
    i {
      font-size: 24px;
      color: #d36f16;
      margin-right: 10px;
    }
  }
  ul {
    margin-top: 25px;
    li {
      padding-bottom: 20.5px;
      display: flex;
      a {
        flex-grow: 1;
        @include clamp(1);
        margin-left: 10px;
      }
    }
    &.cn {
      li {
        padding-bottom: 24px;
      }
    }
  }
}

.top-li__score {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 10px;
  text-align: right;
  background-color: #ffd100;
  color: #282828;
}

.top-li__num {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ddd;
  color: #282828;
  flex-basis: 20px;
  text-align: center;
  line-height: 20px;
  &.on {
    background-color: #d36f16;
    color: #fff;
  }
}