@import '../../pages/_mixin';
.top {
  h2 {
    margin-top: 3px;
    font-size: 18px;
  }
  ul {
    margin-top: 25px;
    li {
      padding-bottom: 20.5px;
      display: flex;
      &:last-child {
        padding-bottom: 0;
      }
      a {
        flex-grow: 1;
        @include clamp(1);
        margin-left: 10px;
      }
    }
    &.cn {
      li {
        padding-bottom: 24px;
      }
    }
  }
}

.top-li__score {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: right;
  color: #8590A6;
}

.top-li__num {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ccd0d7;
  color: #fff;
  flex-basis: 20px;
  text-align: center;
  line-height: 20px;
  &.on {
    background-color: #f25d8e;
    color: #fff;
  }
}