@import '../../pages/_mixin';
.history {
  position: absolute;
  z-index: 999;
  right: 8px;
  max-height: 600px;
  top: 61px;
  .title {
    display: flex;
    height: 40px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
    h2 {
      flex-grow: 1;
      font-size: 16px;
    }
    span {
      color: #666;
    }
  }
}

.list {
  display: block;
  width: 400px;
  margin-top: 10px;
  max-height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  li {
    height: 58px;
    line-height: 58px;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    a {
      margin-left: 10px;
      padding: 0;
      white-space: nowrap;
    }
    span {
      flex-grow: 1;
      display: inline-block;
      line-height: 24px;
      a {
        display: block;
        margin-left: 0;
        white-space: inherit;
        @include clamp(1);
        &:last-child {
          color: #666;
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 1200px) {
  .history {
    top: 53px;
    margin: 0 10px;
  }
  .list {
    width: 100%;
  }
}