.container {
  padding: 20px;
  >form {
    padding: 15px;
    h1 {
      font-size: 36px;
      color: #fff;
      text-align: center;
    }
    input {
      width: 100%;
      margin-top: 20px;
      border-radius: 20px;
      padding: 0 15px;
      height: 40px;
      line-height: 40px;
      border: none;
    }
    button,
    a {
      margin-top: 20px;
      width: 100%;
      height: 40px;
      background-color: #0084FF;
      font-size: 18px;
      color: #fff;
      border-radius: 20px;
    }
    a {
      display: inline-block;
      background-color: #888;
      color: #fff;
      text-align: center;
      line-height: 40px;
    }
  }
}