.detail{
  position: relative;
  margin: 0 -15px;
  background-color: #666;
  .blur{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    filter: blur(30px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .7;
    z-index: 0;
  }
  .detail-con {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #fff;
    a{color: #fff;}
  }
  .pic {width: 240px;float: left;
    img{width: 100%;max-height: 300px;}
  }
  h1{font-size: 24px;padding-bottom: 20px;}
  .info{width: 300px;}
  .score{width: 300px;}
}
