.filter {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  background: #fff;
  padding-top: 10px;
  dl {
    dt {
      float: left;
      color: #666;
    }
    dd {
      margin-left: 40px;
      word-wrap: break-word;
      display: flex;
      flex-flow: wrap;
      a {
        margin-right: 10px;
        white-space: nowrap;
        &.cur {
          color: #0084ff;
        }
      }
      span {
        flex-grow: 1;
        text-align: right;
      }
    }
  }
}