.top {
  position: fixed;
  right: 10px;
  bottom: 300px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #666;
  color: #fff;
  border-radius: 10px;
  z-index: 999;

  i {
    font-size: 18px;
  }

  &:hover {
    color: #fff;
  }
}

@media (min-width: 0px) and (max-width: 1200px) {
  .top {
    bottom: 80px;
    opacity: .7;
  }
}